/*     MASTER STYLES     */

:root {
	--main-color: #2fb905;
	--button-color: #267f12;
	--link-text: #fff;
	--charcoal: #232323;
	--bold: 700;
	--black: 900;
}

html {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.4rem;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

.main-color {
	color: var(--main-color);
}

.bold {
	font-weight: var(--bold);
}

.black {
	font-weight: var(--black);
}

.white {
	color: #fff;
}

.text-center {
	text-align: center;
}

h1 {
	text-align: center;
	color: #fff;
	font-size: calc(1rem + 3.5vw);
	font-weight: 700;
	line-height: 130%;
}

h2 {
	font-size: 1.7rem;
}

h4 {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 0;
}

p {
	font-size: 1.25rem;
	max-width: 350px;
	text-align: left;
	line-height: 150%;
}

.quote {
	max-width: 700px;
	color: #fff;
	font-size: 1.7rem;
	font-weight: 400;
	line-height: 160%;
	text-align: justify;
}

.quote::before {
	position: absolute;
	content: url(../img/quote.png);
	margin-top: -28px;
	margin-left: -50px;
}

.button {
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: .03rem;
	text-transform: uppercase;
	background-color: var(--button-color);
	color: #fff;
	text-shadow: 4px 3px 12px rgb(0, 0, 0, .2);
	padding: 20px 20px;
	max-width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 80px auto;
	border-radius: 5px;
	box-shadow: 4px 3px 12px rgb(0, 0, 0, .2);
}

.grow {
	-moz-osx-font-smoothing: grayscale;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: transform 0.20s ease-out;
}

.grow:hover,
.grow:focus {
	transform: scale(1.02);
}





/*     MAIN NAVIGATION     */

nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 90px;
	background-color: var(--charcoal);
	color: var(--link-text);
	z-index: 100;
}

.logo {
	display: flex;
	padding-left: 40px;
}

.nav-links {
	display: flex;
	padding-right: 40px;
	font-size: 1.2rem;
}

.nav-links > div {
	padding: 0 20px;
}

.phone::before {
	content: " ";
	background-image: url(../img/phone.png);
	background-repeat: no-repeat;
	background-position: center;
	padding: 11px;
}





/*     HERO BANNER     */

.hero-banner {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: var(--charcoal);
	background-image: url(../img/nashville-skyline-lg-12.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom right;
	background-blend-mode: soft-light;
	width: 100vw;
	padding-top: 120px;
}

.eric {
	align-self: flex-end;
}




/*     CREDENTIALS MINI-SECTION     */

.credentials {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 30px 0;
}

.credentials > img {
	padding: 0 15px;
}

@media screen and (max-width: 715px) {
	.credentials {
		flex-direction: column;
	}
}





/*     REALTOR SECTION     */

.realtor {
	background-color: var(--charcoal);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 80px;
}

.realtor > img {
	-webkit-clip-path: circle(39%);
	clip-path: circle(39%);
	margin-bottom: -40px;
}





/*     TYPES OF INSPECTIONS OFFERED      */

.types-inspections {
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	justify-content: center;
	margin: 0 auto;
	padding: 120px 0 40px 0;
}

.types-inspections > div {
	margin: 0 70px 80px 70px;
}

svg {
	display: block;
	margin: 0 auto -20px auto;
}

