:root {
  --light-accent: #d0d0d2;
  --black: #232323;
}

* {
  color: var(--black);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-push-section {
  width: 100vw;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  position: relative;
  width: 100vw;
  height: 200px;
  top: -15px;
}

#total {
  width: 100vw;
  height: 80%;
  font-size: 5.3rem;
}

.data-entered {
  font-size: 1.4rem;
  height: 25%;
  border-top: 1px solid var(--light-accent);
  border-bottom: 1px solid var(--light-accent);
}

.entered-sqft,
.entered-year {
  height: 100%;
  margin: 0 10px;
}

.entered-sqft {
  border-right: 1px solid var(--light-accent);
  padding-right: 20px;
}

.entered-sqft::before {
  content: "Sq Footage:";
  font-size: 0.8rem;
  padding-right: 8px;
  opacity: 0.6;
}

.entered-year::before {
  content: "Year Built:";
  font-size: 0.8rem;
  padding-right: 8px;
  opacity: 0.6;
}

form {
  width: 300px;
  margin: 35px auto 0 auto;
  padding-bottom: 200px;
}

input,
button {
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0 10px 0;
  height: 60px;
  border-radius: 10px;
  border: none;
  font-size: 1.3rem;
}

input {
  background: #efefef;
  color: #434343;
  padding-left: 20px;
}

input::placeholder {
  color: #a0a0a0;
  font-weight: 300;
}

button {
  background: var(--black);
  color: #fff;
}

button:hover {
  box-shadow: inset 1px 1px 8px rgba(0 0 0 / 25%);
}

button:active {
  transform: scale(0.99);
  box-shadow: inset 1px 1px 8px rgba(0 0 0 / 25%);
}

.result,
#the-form {
  transform: scaleX(0);
  opacity: 0;
  animation: open 200ms ease forwards;
}

@keyframes open {
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

#total {
  transform: scaleY(0);
  opacity: 0;
  animation: rise 100ms ease-out forwards 450ms;
}

@keyframes rise {
  to {
    transform: scaleY(1);
    transform-origin: bottom;
    opacity: 1;
  }
}

@media screen and (max-width: 450px) {
  .result {
    width: 100vw;
    height: 225px;
    margin-top: 70px;
    top: 0;
  }

  #total {
    height: 60%;
  }

  form {
    margin: 0 auto;
  }
}

@media screen and (max-width: 350px) {
  .result {
    height: 100px;
    margin-top: 0;
  }

  #total {
    font-size: 4rem;
    padding: 10px 0;
  }

  form {
    width: 250px;
    padding-bottom: 0;
    margin-top: 30px;
  }

  .data-entered {
    height: 30%;
  }

  input,
  button {
    height: 50px;
    margin: 5px 0 5px 0;
  }

  input::placeholder {
    font-size: 1.2rem;
  }
}
