.credentials {
  @extend .flex;
  flex-wrap: wrap;
  padding: 30px 0;
}
.state-seal {
  padding: 0 15px;
  mix-blend-mode: multiply;
}

@include phone-media-query {
  .credentials {
    font-size: 1.8rem;
  }
  .state-seal {
    padding: 15px;
  }
}
