footer {
  display: grid;
  place-content: center;
  gap: 1rem;
  background: url(../img/nashville-skyline-lg-15.jpg) no-repeat center right;
  background-size: cover;
  height: 250px;
  width: 100%;
  text-align: center;
}

.footer-contact {
  @extend .flex;
  flex-wrap: wrap;
  gap: 2rem;
  opacity: 0.7;
}

.footer-contact li a {
  color: $white;
}

.copyright-text {
  font-size: 1.25rem;
  @extend .bold;
  color: $white;
  opacity: 0.7;
  padding-inline: 2.5rem;
}

.copyright-text a {
  color: $white;
}

#copyYear {
  padding-right: 7px;
}

.privacy::before {
  content: '';
  background-color: $white;
  padding-right: 2px;
  margin: 0 1rem;
}

@include phone-media-query {
  footer {
    padding: 0 0 calc(40px + env(safe-area-inset-bottom)) 0;
  }

  .footer-contact {
    gap: 0.75rem;
  }

  .privacy::before {
    padding-right: 0px;
    margin: 0 0;
  }

  .copyright-text {
    line-height: 160%;
  }
}
