.hero-banner {
  position: relative;
  @extend .flex;
  gap: 1rem;
  height: calc(100vh - $header-height);
  overflow: hidden;
  margin-top: 1rem;
  max-height: 1200px;
}

.image-container {
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: 1;
}

.nashville {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  object-position: left;
  transform: scale(1);
  transform-origin: right;
  animation: city 5s ease-out forwards;
  will-change: transform;
  opacity: 0.75;
}

@keyframes city {
  100% {
    transform: scale(1.1);
    transform-origin: right;
  }
}

.eric-container {
  @extend .flex;
  height: 100%;
  z-index: 2;
}

.eric {
  height: 100%;
  width: auto;
  max-height: 1100px;
  object-fit: cover;
  align-self: flex-end;
}

.banner-text {
  margin-top: -5rem;
  color: $white;
  z-index: 2;
}

.closed-banner {
  z-index: 5;
  display: grid;
  place-items: center;
  margin-top: -10rem;

  .closed-heading {
    color: $white;
    font-size: 5rem;
  }

  .closed-text {
    color: $white;
    text-align: center;
    margin: 1rem 0;
  }

  .closed-thanks {
    color: $white;
    font-size: 3rem;
    font-weight: bold;
  }
}

.tag-line {
  text-wrap: balance;
  max-width: 20ch;
}

.underline {
  position: relative;
  display: block;
  width: fit-content;
  margin: 1rem auto 0 auto;
  transform: scale(1.2);
}

.underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 6px;
  background-color: $button-color;
  transform: scaleX(0);
  opacity: 0;
  transform-origin: left;
  animation: grow 250ms cubic-bezier(0.86, 0, 0.07, 1) 500ms forwards;
}

@keyframes grow {
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

.note {
  display: block;
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  letter-spacing: 0.5px;
  opacity: 0.8;
}

.banner-text .button {
  margin-top: 7rem;
}

@include tablet-media-query {
  .hero-banner {
    height: 50vh;
  }

  .banner-text {
    margin-top: 0;
    color: $white;
    z-index: 2;
  }

  .underline {
    display: inline;
    margin: 1rem auto 0 0.5rem;
  }
}

@include phone-media-query {
  .hero-banner {
    height: calc(100vh - 34vh);
    margin-top: 0;
  }

  .eric-container {
    display: none;
  }

  .banner-text .button {
    margin-top: 4rem;
  }
}

@include small-phone-media-query {
  .banner-text {
    transform: scale(0.85);
  }
}

@include phone-landscape-media-query {
  .hero-banner {
    height: 110vh;
  }

  .eric-container {
    display: none;
  }
}
