.types-inspections {
  display: grid;
  place-content: center;
  background-color: $white;
}

.types-list {
  @extend .flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem;
  max-width: 1000px;
  margin: 0 1.5rem;
  text-align: center;
}

.types-list h2 {
  width: 200px;
  margin: 20px auto;
}

.types-list > li:last-of-type > h2:last-of-type {
  margin: 20px auto;
  width: fit-content;
}

.types-list > li:last-of-type > p:last-of-type {
  margin: 0 auto;
  max-width: 70ch;
}

.check {
  display: block;
  margin: 0 auto;
  opacity: 1;
}

@include tablet-media-query {
  .types-list > li > p {
    max-width: 60ch;
  }
}
