header {
  position: fixed;
  display: grid;
  align-items: center;
  width: 100%;
  height: $header-height;
  background-color: $base-color;
  opacity: 0.98;
  z-index: 100;
}

.nav-content {
  @extend .flex;
  justify-content: space-between;
  margin: 2rem;
}

.nav-links {
  @extend .flex;
  width: 100%;
  max-width: 450px;
  justify-content: space-between;
}

.phone::before {
  content: ' ';
  background-image: url(../img/phone.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 11px;
}

.mobile-icon {
  display: none;
}

@include phone-media-query {
  header {
    position: absolute;
  }
  .logo {
    margin: 0 auto;
  }

  .nav-links {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    margin: 0;
    max-width: unset;
    background-color: $accent-color;
    box-shadow: 5px 3px 15px #707070;
    a {
      color: $white;
    }
    li {
      display: flex;
      justify-content: center;
      text-align: center;
      border-right: 1px solid #fff;
      width: 100%;
    }
  }

  .nav-text {
    display: none;
  }

  .mobile-icon {
    display: block;
  }

  .nav-links li:last-of-type {
    border-right: none;
  }
}

@include small-phone-media-query {
  .nav-links {
    font-size: 1.1rem;
    line-height: 1;
    padding: 5px 0;
  }

  .mobile-icon {
    height: 30px;
  }

  .phone a img {
    height: 40px;
  }
}
