.quote-container {
  @extend .flex;
  flex-direction: column;
  background-color: $base-color;
}

.realtor-image {
  clip-path: circle(39%);
}

.quote {
  max-width: 60ch;
  color: $white;
  font-size: 1.5rem;
  line-height: 1.6;
  text-align: justify;
  padding: 0 2.5rem;
}

.sam-signature {
  padding-top: 15px;
  margin-bottom: -20px;
}

@include phone-media-query {
  .realtor-image {
    margin-top: -3rem;
  }
}
